/****************************Fridge Landing Page *********************************/

/*******Fridge Component Styling ******/
.leaflet-container-outside {
  display: flex;
  justify-content: space-around;
  height: 30rem;
  width: 100%;
}

/*******Fridge List  Component Styling ******/
.leaflet-container {
  height: 30rem;
  width: 100%;
}

/*******FridgeMap Component Styling ******/
.leaflet-container-list {
  height: 30rem;
  width: 100%;
  overflow: scroll;
}

/*********************************End Fridge Landing Pg********************************************/

/********************************************** Icons styling ********************************************/
.social-icons {
  width: 2.5rem;
}

/************************************** Fridge Profile Styling ** ********************/
/************************************** Fridge Landing Styling *******************************************/
.fridgeLanding h1 {
  font-size: 3rem;
  text-align: center;
}

.fridgeLanding--areas {
  font-size: 2rem;
}


/************************************** End of Fridge Landing Styling ************************************/




/************************************** Fridge Profile Styling *******************************************/

/******** Container styling******/
.about-sub,
.donationsContainer {
  display: flex;
  width: 100%;
}

.fridgePage--text,
.fridgePage--IMG {
  display: 50%;
  margin: 2.5rem;
}

.donationsSub {
  width: 50%;
  border-radius: 15px;
  border: .1px solid rgb(66, 66, 66);
  justify-content: space-between;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  overflow: hidden; 
}

.donationsSub h3 {
  border-bottom: 1px solid rgb(66, 66, 66);
  padding-bottom: 0.5rem; 
}

.fridgePage--header.donations {
  background: linear-gradient(45deg, #ffde5b, #ffffa9); 
}

.socialsContainer {
  display: flex;
}

/*******Font Styling**********/
.fridgePage--status {
  margin-top:2rem;
  font-size: 2.5rem;
  text-align: center;
}

.fridgePage--left p {
  font-size: 1rem;
  padding: .5rem;
}

.fridgePage--header {
  font-size: 1.5rem;
  font-weight: 600;
}

.fridgePage--community {
  font-weight: 200;
}

.fridgePage--status a {
  text-decoration: none;
}

.fridgePage--status a:hover {
  color: #0e9e6d;
  font-size: 125%;
}

.social-icons:hover {
  width: 90%;
}

.donationsSub h3 {
  text-align: center;
}

.fridgePage--parent li {
  margin-left: 1rem;
}

.donationsSub ul {
  list-style: none;
  padding: 0;
  margin: 1rem;
  list-style-type: circle;
}

.fridgePage--IMG img {
  max-height: 1300px;
}

.fridgePage--directions,
.fridgeProfile--email {
  color: #0e9e6d;
}

.fridgeDonation--conditional {
  margin: 1rem;
}
/****************************************** Media Queries ********************************************/

/******************* Individual Fridge Profiles ************************/
@media (max-width: 975px) {
  .about-sub {
    flex-direction: column;
    padding: 1rem;
  }
  .about-sub > div {
    width: 100%;
    margin: 0;
  }
  .fridgePage--IMG img,
  .donationsContainer img {
    width: 100%; 
    max-width: 100%; 
    height: auto; 
  }
  .fridgePage--text,
  .fridgePage-IMG {
    margin: 1rem;
  }
}

@media (max-width: 800px) {
  .donationsContainer {
    flex-direction: column;
  }

  .donationsSub {
    width: 100%;
    margin: 1rem 0; 
  }
  .donationsContainer{
    padding: 1rem;
  }
}

/**************** End of Individual Fridge Profiles ************************/